.banner-logo{
    text-align: left;
    width: 200px;
    margin-left: 100px;
}

.just-margin{
    margin-right: 100px;
    margin-left: 50px;
}

.left-margin{
    margin-left: 50px;
    color: black;
}

.iconColor{
    color: blueviolet;
}

.genMargin{
    padding: 0px 35px;
}

